{% extends 'core/base.html' %}

{% block title %}
My Spaces
| {% endblock %}

{% block content %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }




    /* CARDS */

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        margin-bottom: 10px;
        padding: 10px;
        width: 400px;

        display: grid;

    }

    .card:hover {
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
        transform: scale(1.01);
    }










    /* RESPONSIVE */

    @media (min-width: 1300px) {
        .cardswrap {
            max-width: 60%;
        }
    }
</style>


<div style="margin:auto;" class="cardswrap">

    <div class="cards">
        {% for space in Owned_Spaces %}

        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">

                    <img src="{{space.image}}" alt="Placeholder image">

                </figure>
            </div>
            <div class="card-content">
                <div class="media">

                    <div class="media-content">



                        <p class="title is-4">{{space.name}}</p>
                        <p class="subtitle is-6">by @{{space.owner}}</p>


                    </div>
                    <span class="tag is-link is-light" style="margin-right: auto;">Admin</span>

                    <a href="/space/{{space.slug}}/">
                        <button class="button is-primary">Visit</button>
                    </a>



                </div>


            </div>
        </div>
        {% endfor %}
        {% for space in Spaces %}

        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">

                    <img src="{{space.space_id.image}}" alt="Placeholder image">

                </figure>
            </div>
            <div class="card-content">
                <div class="media">

                    <div class="media-content">



                        <p class="title is-4">{{space.space_id.name}}</p>
                        <p class="subtitle is-6">by @{{space.space_id.owner}}</p>


                    </div>
                    <span class="tag is-danger is-light" style="margin-right: auto;">subscriber</span>

                    <a href="/space/{{space.space_id.slug}}/">
                        <button class="button is-primary">Visit</button>
                    </a>



                </div>


            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}