.mainImg{
    width: 30%;
    margin : auto;
    margin-top: -1%;
   
}
@media only screen and (max-width: 800px) {
    .mainImg {
      width: 65%;
      margin-left:10% ;
      justify-content: center;
    }
  }